@charset "utf-8";
@import "compass/reset";

@import "h5bp";
@include h5bp-display;
@include h5bp-selection;
@include h5bp-chromeframe;
@include h5bp-media;
@include h5bp-base;
@include h5bp-typography;
@include h5bp-figures;
@include h5bp-forms;
@include h5bp-embeds;
@include h5bp-tables;
//@include h5bp-links;
//@include h5bp-lists;
@include h5bp-helpers;

@import "compass/layout";
@import "compass/css3";
@import "compass/typography";
@import "compass/utilities";

@import "sprites/social/*.png";

//border-box-sizing for all elems
*{@include box-sizing(border-box);}
input[type=search]{@include box-sizing(border-box);}



/* FONT FACing
--------------------------------------------*/
@each $font-face in
myriadprocond-regular,
myriadprocond-bold{
  @font-face {
    font-family: $font-face; font-style: normal; font-weight: normal;
    src: url('../fonts/#{$font-face}.eot');
    src: url('../fonts/#{$font-face}.eot?#iefix') format('embedded-opentype'),
    url('../fonts/#{$font-face}.woff') format('woff'),
    url('../fonts/#{$font-face}.ttf')  format('truetype');
  }
}


/*VARIABLES
--------------------------------------------*/
//set liks color here
$linkDefaultColor:#3384b8;
$linkHoverColor:#b53228;
$linkActiveColor:#b53228;
$linkVisitedColor:#3384b8;
$linkFocusedColor:#b53228;
//colors
$attentionColor: #c71d2a;
$borderColor: #e2e2e2;
$h1Color:#2f2e2c;
$h2Color:#539315;
//base font params--------------------
$baseFontFamily: "Trebuchet MS", "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Tahoma, sans-serif;
$baseFontColor: #444;
$baseFontSize:13px;
$baseLineHeight: 1.4;
//additional fonts
$addFontRegular: myriadprocond-regular;
$addFontBold: myriadprocond-bold;
//layout params-----------------------
$baseWidth: 993px;
$hdrHeight:165px;
$ftrHeight:430px;

/*HELPER CLASSES
---------------------------------------------------------*/
@mixin layout{
  .l-baseWrap{
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto;
    width: $baseWidth;
  }
  .l-contentWrap{padding-bottom: $ftrHeight + 20 !important;}
  .l-baseFooter{
    position: relative;
    height: $ftrHeight;
    margin: -$ftrHeight auto 0;
    width: $baseWidth
  }
}
//content editing zone styles
@mixin contentEditable{}
.contentEditable{@include contentEditable;}
//floats
.m-float-l{float: left;}
.m-float-r{float: right;}
//pseudo elems mixin
@mixin pseudoBlockAbs{
  content: '';
  display: block;
  position: absolute;
}
//vertical centering mixin
@mixin vCtr{
  display: table-cell;
  height: inherit;
  vertical-align: middle;
}
//for horisontal layouts
@mixin hList{
  .flexbox &{@include display-box;}
  .no-flexbox & > *{
    @include inline-block;
    vertical-align: top;
  }
}
@mixin jList{
  text-align: justify;
  line-height: 0;
  font-size: 1px;
  text-justify: newspaper;
  zoom:1;
  text-align-last: justify;
  &:after{
    content: "";
    display: inline-block;
    height: 0;
    overflow: hidden;
    visibility: hidden;
    width: 100%;
  }
  >*{
    text-align: left;
    @include inline-block;
    line-height: $baseLineHeight;font-size: $baseFontSize;
  }
}
@mixin jList-singleLine{
  .flexbox &{@include display-box; @include box-pack(justify);}
  .no-flexbox &{@include jList;}
}
//img wrapper
@mixin imgWrap{
  img{width:100%;height: 100%;}
}
//hack for ie9 - need for gradient backgrounds
:root .gradient {filter: none \0/IE9; }
@mixin ie9-gradient-support{
  $experimental-support-for-svg: true;
  @extend .gradient;
}
/*OBJECTS mixins
--------------------------------------------*/
@mixin link-baseColor_attentionColor{@include link-colors(#535353, $attentionColor, $attentionColor, #535353, $attentionColor);}
@mixin ftr__list{
  header{
    font-size: 1.231em; font-weight: bold;
    color: #4d8b03;margin-bottom: 15px;
  }
  a{
    @include link-baseColor_attentionColor;
    display: block;
    padding: 3px 0;
  }
}
.l-centering{@include vCtr; height: inherit;}

@mixin aritcles__title{
  @include box-shadow(0 1px 1px rgba(0,0,0,.37));
  @include background-image(linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1)));
  @include ie9-gradient-support;
  padding:5px 10px;
  font-size: 1.385em;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 0 1px rgba(0,0,0,.43);
  //background-color: #4e8814;
  //background-color: #c71d2a;
}
/*LAYOUT
----------------------------------------------------------*/
html, button, input, select, textarea {
  height: 100%;
  font-family: $baseFontFamily;
  co: $baseFontColor;
}
body {
  height: 100%;
  font-size: $baseFontSize;
  line-height: $baseLineHeight;
  @include layout;
  background: url(../images/bg-body.jpg);
}
a {
  @include link-colors($linkDefaultColor, $linkHoverColor, $linkActiveColor, $linkVisitedColor, $linkFocusedColor);
  @include single-transition(all,.4s,ease,0s);
  &.current{color:$linkHoverColor;}
}

input,textarea{
  width: 200px;
  height: 30px;
  @include border-radius;
  background-color: #fff;
  @include box-shadow(0 0 0 3px rgba(255,255,255,.21), inset 1px 1px 2px rgba(0,0,0,.08));
  border: solid 1px rgba(0,0,0,.2);
}
textarea{width: 370px;  height: 75px; display: block;}
input[type=number]{width:40px; text-align: center;}
input[type=checkbox],
input[type=radio]{width: 15px;height: 15px;}


.l-baseWrap {background: #fff;}
/* page header
----------------------------------*/
.l-baseHeader {
  clear: both;
  height: $hdrHeight;
  padding: 30px 30px 0;
}
//main logotype
.b-mainLogo{
  float: left;
  display: block;
  margin-top: 10px;
}

/*about block in header*/
.b-hdr__about{
  font-style: italic;
  color:#939393;
  width:360px;
  padding-left: 40px;
  margin-bottom: 18px;
}
//main navigation
.b-hdr__nav{
  width:360px;
  padding-left: 40px;
  ul{@include jList-singleLine;}
  a{font-weight:bold; font-size: 1.077em;text-transform: uppercase;}
}
/*header phone*/
.b-hdr__phone{
  color:$attentionColor;
  text-align: right;
  font: 2.769em $addFontBold;
  line-height: 1;
  margin-bottom: 24px;
  sup{font: 0.583em $addFontRegular;}
}
/*header shopcart*/
.b-hdr__shopcart{
  display: block;
  @include border-radius;
  padding:10px 20px 10px 50px;
  background: url(../images/icon-shopcart.png) 15px 50% no-repeat;
  border:1px dashed #ebebeb;
  font-size: 1.077em;
  text-decoration: none;
  @include single-transition(all,.4s,ease,0s);
  &:hover{background-position: 25px 50%; border-color:$baseFontColor;}
  .shopcart{color:$attentionColor; font-weight: bold;text-decoration: underline;}
  .price{color:$baseFontColor}
}
/*header counter*/
.b-hdr__counter{
  margin-right: 50px;
  float: right;
  text-align: right;
  color:#808080;
  font-size: 0.923em;
  text-align: center;
}
.b-hdr__counter__item{
  display: block;
  color:#5f5f5f;
  font-size: 1.583em;
  padding:5px 0;
  span{
    @include border-radius(5px);
    background-color: #fff;
    border: solid 1px #d1d1d1;
    @include background-image(linear-gradient(bottom, rgba(0,0,0,.05), rgba(255,255,255,.05)));
    @include ie9-gradient-support;
    margin:0 2px;
    padding: 2px 4px;
  }
}
/* page content
------------------------------------*/
.l-contentWrap {

}
  //main column-------------->
  .l-columnMain{}
  //left column-------------->
  .l-columnLt{}
  //right column-------------->
  .l-columnRt{}

/* Footer
------------------------------------*/
.l-baseFooter {
  position: relative;
  padding: 40px 30px 100px;
  border-top: 1px solid $borderColor;
}
.b-ftr__copyrights{
  position: absolute;
  bottom: 0;
  clear: both;
  height: 95px;
  color: #939393;
  font-size: 0.923em;
  @include jList-singleLine;
  width:940px;
  margin:0 auto;
  small{
    display: block;
    span{display: block;}
  }
}
.b-ftr__phone{
  margin:10px 0;
  color: #3e3e3e;
  font: 2em $addFontBold;
  sup{font: 0.615em $addFontRegular;}
}
.b-ftr__nav{@include ftr__list; margin:25px 0;}
.b-ftr__partners{
  @include ftr__list; float: left;
  width:140px;
  margin:0 15px;
}
/*INDEPENDENT elements styles
-----------------------------------------------------------------------------------------------*/
//inner pages navigation stipe on the top of page
.b-innerPages__nav{
  background: url(../images/bg-mainPage__search__label.jpg);
  @include jList;
  padding: 6px 30px;
}
.b-innerPages__nav__search{
  position: relative;
  input{
    display: block;
    padding:0 30px 0 15px;
    @include box-shadow(inset 1px 1px 3px rgba(0,0,0,.08));
    color:#a0a0a0;
    font-size: 1.154em;
  }
  button{
    border:none;
    background: url(../images/icon-search.png);
    width:17px; height: 15px;
    position: absolute;
    top:50%;margin-top: -7px;
    right:8px;
  }
}
/*bread crumbs*/
.b-breadcrumbs{
  ul{@include hList;}
  a{
    font-size: 1.077em;
    color:#fff;
    position: relative;
    padding-right: 10px;
    padding-left:3px;
    &:after{
      content: '/';
      position: absolute;
      right:0;
    }
  }
  li:last-child a:after{display: none;}
}
//pagination
.b-pagination{
  margin:20px 0;
  a{text-decoration: none;}
  ul{
    position: relative;
    top:-2px;
    display: inline-block;
    margin-right: 20px;
    li{@include inline-block;}
    a{
      display: block;
      height: 30px;
      width:25px;
      text-align: center;
      line-height: 30px;
      @include link-colors(#595959, #4c840d);
      &.active{background: #a0a0a0;color:#fff;}
    }
  }
  .prev{
    margin:0 15px;
    @include link-colors(#4c840d, $linkHoverColor);
    &:before{content: '← ';}
  }
  .next{
    margin:0 15px;
    @include link-colors(#4c840d, $linkHoverColor);
    &:after{content: ' →';}
  }
  .unactive{color:#696969;}
}

/*TEMPLATES STARTS
-----------------------------------------------------------------------------------------------
-----------------------------------------------------------------------------------------------*/
/*MAIN page specific elements styles
-----------------------------------------------------------------------------------------------*/
.b-indexPage{padding:0 30px;}
.b-mainPage__search{
  padding:0 55px;
  @include jList;
  position: relative;
  background: #549416 url(../images/bg-mainPage__search__label.jpg);
  @include vCtr;
  height: 83px;
  width:$baseWidth;
  .bigText{
    @include inline-block;
    background: url(../images/mainPage__search__label.png);
    width:155px;
    height: 46px;
  }
  input{
    font-size: 18px;
    color:#989898;
    padding:0 15px;
    margin:0 35px;
    width: 500px;
    height: 48px;
    @include border-radius(5px);
    background-color: #fff;
    border: solid 4px rgb(66,117,17);
    @include single-transition(all,.4s,ease,0s);
    &:focus{
      outline: none;
      border-color: rgba(66,117,17,.7);
    }
  }
  button{
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    text-shadow: 0 1px rgba(0,0,0,.43);
    position: absolute;
    top:20px;
    left:662px;
    border: none;
    width: 83px;
    height: 41px;
    //@include border-radius(0 5px 5px 0);
    background-color: rgb(255,118,133);
    @include filter-gradient(#ff7685, #a81822, vertical);
    $experimental-support-for-svg: true;
    @include background-image(linear-gradient(top,  rgba(255,118,133,1) 0%,rgba(251,56,72,1) 3%,rgba(233,38,54,1) 15%,rgba(222,31,46,1) 25%,rgba(214,32,45,1) 33%,rgba(201,29,41,1) 53%,rgba(199,29,42,1) 98%,rgba(168,24,34,1) 100%));
    &:focus, &:hover{
      outline: none;
      background-color: rgb(255,119,135);
      @include filter-gradient(#ff7787, #bf1927, vertical);
      @include background-image(linear-gradient(top,  rgba(255,119,135,1) 0%,rgba(255,57,74,1) 3%,rgba(255,50,70,1) 8%,rgba(254,46,62,1) 10%,rgba(255,43,63,1) 13%,rgba(254,38,53,1) 18%,rgba(255,34,51,1) 23%,rgba(239,32,48,1) 38%,rgba(226,30,44,1) 60%,rgba(226,30,44,1) 98%,rgba(191,25,39,1) 100%));
    }
    &:active{
      background-color: rgb(250,94,107);
      @include filter-gradient(#fa5e6b, #c71d2a, vertical);
      @include background-image(linear-gradient(top,  rgba(250,94,107,1) 0%,rgba(203,46,57,1) 3%,rgba(199,33,45,1) 15%,rgba(199,29,42,1) 23%,rgba(199,29,42,1) 100%));
    }
  }
  .example{
    @include inline-block;
    width:150px;
    color:#fff;
    line-height: 1.2;
  }
}
/*dishes list*/
.b-indexPage__dishes{
  margin: 30px 0;
  @include jList;
  .item{
    position: relative;
    margin:5px 0;
    width: 181px;
    height: 207px;
    @include border-radius;
    background-color: #fff;
    border: solid 1px rgba(0,0,0,.1);
    padding-top: 5px;
    text-align: center;
    @include link-baseColor_attentionColor;
    &:hover, &:focus{
      outline: none;@include box-shadow(0 0 6px rgba(0,0,0,.45));
    }
  }
  .label{
    font-size: 1.231em; font-weight: bold;
    line-height: 2;
    display: block;
  }
  .counter{
    top:17px;
    left:17px;
    position: absolute;
    padding:4px 5px;
    font-size: 1.077em;
    font-weight: bold;
    color:#121212;
    background-color: #f4aa35;
    @include box-shadow(0 1px 1px rgba(0,0,0,.37));
    @include background-image(linear-gradient(bottom, rgba(0,0,0,.1), rgba(255,255,255,.1)));
    &:before{
      @include pseudoBlockAbs;
      background: url(../images/triangle.png);
      width:10px; height: 7px;
      top:100%;
      left:12px;
    }
  }
}
/*indexPage__openNow*/
.b-indexPage__openNow{
  margin-top: 30px;
  border-top: 1px solid $borderColor;
  .title{
    font-size: 1.538em;
    text-transform: uppercase;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;top:-14px;
    background: #fff;
    padding-right: 10px;
  }
  .allItems{
    position: relative;top:-10px;
    background: #fff;
    padding-left: 10px;
    font-weight: bold;
    float: right;
    font-size: 1.077em;
  }
  .scrollable{
    margin:15px 0 35px;
    width: 800px;
    height:60px;
  }
  .scrollable img {
    width:125px;
    height:60px;
  }
  .scrollable__item {width:800px;}
}
//pageIndex banners
.pageIndex__bnr{
  padding: 5px;
  @include border-radius;
  border:1px solid $borderColor;
}
//indexPage__news
.indexPage__news{
  width:410px;
  margin:40px 0 20px;
  >header{margin-bottom: 20px;}
  .title{
    background-color: #c71d2a;
    @include aritcles__title;
  }
  .readAll{
    color:#b6b6b6;
    font-weight: bold;
    font-size: 1.077em;
    margin:0 10px;
  }
  .item{
    margin-bottom: 10px;
    header{font-style: italic; color:#b6b6b6;}
    time:after{content: ',';}
  }
  .item__link{@include link-baseColor_attentionColor;}
}
.indexPage__discount{
  @extend .indexPage__news;
  .title{background-color: #4e8814;}
}
//promoText(scrollable)
.indexPage__promoText{
  border-top: 1px solid $borderColor;
  padding:5px 0;
  @include jList;
  .scrollable{
    margin:15px 0;
    width: 800px;
    height: auto;
    height: 140px;
  }
  .scrollable__item {width:800px;}
  .item__title{
    font-size: 22px;
    color:$attentionColor;
    font-style: italic;
    margin-bottom: 5px;
  }
}


/*ABOUT US page specific elements styles
-----------------------------------------------------------------------------------------------*/
.b-pageAboutUs{
  padding:0 60px;
  margin-top: 50px;
  color:#636363;
  h1{
    color:$h1Color;
    font-weight: bold;
    font-size: 2.615em;
  }
  h2{
    margin: 40px 0 20px;
    color:$h2Color;
    font-size: 2.154em;
  }
  ul{list-style: disc; color:#444;margin-left: 20px;}
}
//social block
.b-pageAboutUs__social{
  margin:50px 0;
  >header{
    font-size: 1.385em;
    color:#2f2e2c;
  }
  .item{
    @include inline-block;
    margin:15px 10px 15px 0;
    width:48px; height: 48px;
    @for $i from 1 through 3{&.item-#{$i}{@include social-sprite(soc-#{$i});}}
  }
}

/*FEEDBACKS page specific elements styles
------------------------------------------------------------------------------------------------*/
.b-pageFeedbacks{
  padding:45px 65px;
  form{@include pie-clearfix;}
  .form__title{
    display: block;
    font-size: 1.308em;
    color:$h1Color;
    font-weight: bold;
    margin:5px 0;
  }
  .form__submit{
    float: left;
    display: block;
    margin: 20px 0;
    padding:2px 10px 5px;
    background-color: #508915;
    @include border-radius;
    @include box-shadow(inset 0 1px rgba(255,255,255,.11));
    border: solid 1px rgba(82,144,22,.91);
    @include background-image(linear-gradient(bottom, rgba(255,255,255,0), rgba(255,255,255,.27)));
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px rgba(0,0,0,.48);
    font-size: 1.154em;
  }
}
//feedbacks
.b-feedbacks{
  //clear: both;
  margin:40px 0;
  >header{
    padding:5px 0;
    font-size: 2.077em;
  }
  .author{color:#b31d1d;font-weight: bold;font-size: 1.385em;padding-right: 15px;}
  time{font-size: 0.923em;color:#6d6d6d;}
  .item{padding:15px 0 25px;border-bottom: 1px solid $borderColor;}
}

/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*some page specific elements styles
------------------------------------------------------------------------------------------------*/
/*plugins styles
------------------------------------------------------------------------------------------------*/
//scrollable



//.scrollable{
//  margin:15px 0;
//  width: 800px;
//  height:60px;
//}
//.scrollable img {
//  width:125px;
//  height:60px;
//}
//.scrollable__item {width:800px;}

.scrollable {
  @include inline-block;
  position:relative;
  overflow:hidden;
}
.scrollable__viewport{
  width:20000em;
  position:absolute;
  clear:both;
}
.scrollable__item {
  @include inline-block;
  @include jList;
}
.scrollable .active {
  border:2px solid #000;
  position:relative;
  cursor:default;
}
.scrollable__prev{
  @include inline-block;
  cursor: pointer;
  width: 45px;
  height: 45px;
  @include border-radius(50%);
  background-color: rgba(196,196,196,0);
  border: solid 1px rgba(0,0,0,.1);
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-image: url(../images/prev.png);
}
.scrollable__next{
  @extend .scrollable__prev;
  background-image: url(../images/next.png);
}
.disabled{visibility: hidden;}

/*MODIFICATORS styles
------------------------------------------------------------------------------------------------*/
.m-width__340{width:340px;}
.m-margin_40{margin: 40px;}
//layout modificators
.l-padding_lr_30{padding:0 30px;}
.l-jList{@include jList;}
//debug
//* { outline: 2px dotted red; }
//* * { outline: 2px dotted green; }
//* * * { outline: 2px dotted orange; }
//* * * * { outline: 2px dotted blue; }
//* * * * * { outline: 1px solid red; }
//* * * * * * { outline: 1px solid green; }
//* * * * * * * { outline: 1px solid orange; }
//* * * * * * * * { outline: 1px solid blue; }